<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>{%block title %}Flask ASI{% endblock %} - Johan Planchon</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="{{ url_for('live') }}">Live CAM</a>
            <a href="{{ url_for('process') }}">Process Images</a>
            <a href="{{ url_for('quoi') }}">Quoi?</a>
        </nav>
        {% block content %}
        <section>
            <h3>Images</h3>
            <ul>
                {%- for image_name in images %}
                    <li><a href="{{ url_for('images', name=image_name) }}">{{ image_name }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endblock %}
    </body>
</html>